body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    display: flex;
}

.left-bg, .right-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.left-bg {
    left: 0;
    background-image: url('LethalCompanyBackground.jpg');
}

.right-bg {
    right: 0;
    background-image: url('REPOBackground.jpg');
}

.left-button-container,
.right-button-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.orange-button,
.cyan-button {
    padding: 15px 30px;
    border: none;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
}

.orange-button {
    background-color: orange;
    color: white;
}

.cyan-button {
    background-color: cyan;
    color: black;
}

.orange-button:hover {
    background-color: darkorange;
}

.cyan-button:hover {
    background-color: #00dddd;
}