body {
    font-family: sans-serif;
}

.circle-button-container {
    text-align: center;
    margin-top: 20px;
}

.circle-button {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.circle-button:hover {
    background-color: white;
    color: black;
}